@tailwind base;
@tailwind components;
@tailwind utilities;


*,*::before,*::after{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}


.logo-accent{
  color: #1E99F5;
}



.user-management-background{
  background-image: url("/ibos_chair.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }




.user-management-action{
  width: 100%;
  font-size: 1.4rem;
  display: flex;
  gap: 0.5rem;
  font-weight: 500;
  margin: 1.5rem 0;
  justify-content: center;
}

.form-background{
  background-color: #FAFAFA;
}

.line{
  background-color: #F1F0F0;
  height: 0.25rem;

}

.muted{
  color:#707070
}

.hyperlink{
  color:#0F3DDE
}


.button{
  padding:1.25rem 0;
  border-radius: 0.75rem;
}

.button-primary{
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 1.7rem;
}


.border-input{
  border: 1px solid #DEDEDE ;
}

.border-header{
  border-bottom: 1px solid #F1F1F1;
}


.footer{
  background-color: #0E0E0E;
  color: #81859F;
}




body{
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}