@tailwind base;
@tailwind components;
@tailwind utilities;


*,*::before,*::after{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}


.logo-accent{
  color: #1E99F5;
}


.header{
  background-color: white;
}



.user-management-background{
  background-image: url("/ibos_chair.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }




.user-management-action{
  width: 100%;
  font-size: 1.4rem;
  display: flex;
  gap: 0.5rem;
  font-weight: 500;
  margin: 1.5rem 0;
  justify-content: center;
}

.form-background{
  background-color: #FAFAFA;
}

.order-border{
  border:1px solid #DEDEDE;
}

.line{
  background-color: #F1F0F0;
  height: 0.25rem;

}

.muted{
  color:#707070
}

.hyperlink{
  color:#0F3DDE
}


.button{
  padding:1.25rem 0;
  border-radius: 0.75rem;
}

.button-primary{
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 1.7rem;
}

.button-cart{
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
}



.border-input{
  border: 1px solid #DEDEDE ;
}

.border-header{
  border-bottom: 1px solid #F1F1F1;
}


.footer{
  background-color: #0E0E0E;
  color: #81859F;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  
}

.active{
  background-color: #F8F8F8;
}



body{
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}




.lds-ripple {
  /* change color here */
  color: #1c4c5b
}
.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}